@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(4, 113, 162, 0.5);
}

.listado-container {
    display: grid;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.listado-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: aliceblue;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.search-bar input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.9);
}

.search-bar button {
    width: 10%;
    background-color: #0471A2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 5px;
    text-align: center;
}

.cde-list {
    display: grid;
    width: 100%;
}

.cde-item {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cde-item input {
    background-color: aliceblue;
}

.cde-item h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #007bff;
}

.cde-item p {
    margin: 5px 0;
    color: #555;
}

.cde-item strong {
    color: #333;
}

.cde-item button {
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #1a702e;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    width: 45%;
}

.cde-item button:last-child {
    background-color: brown;
}

/* Estilo del popup de confirmación */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:first-of-type {
    background-color: #d9534f;
    color: white;
}

.popup button:last-of-type {
    background-color: #5bc0de;
    color: white;
}

.popup p {
    margin: 10px;
    font-size: 1.2em;
    color: #333;
}