@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    /* Aumentamos el espacio de relleno horizontal */
    background-color: rgb(2, 2, 2);
    color: white;
}

.header-logo {
    flex: 1;
    /* El logo ocupa el espacio restante */
}

.header-logo .logo {
    height: 50px;
    width: auto;
    /* Ajustamos el tamaño del logo */
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header-nav li {
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* Añadimos margen izquierdo entre elementos */
}

.header-nav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    /* Reducimos el tamaño de fuente en pantallas pequeñas */
    padding: 8px 10px;
    /* Ajustamos el padding de los enlaces */
    border-radius: 4px;
    /* Añadimos borde redondeado */
}

.header-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
    transition: 400ms;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .header-nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-nav li {
        display: flex;
        justify-content: space-around;
        margin: 5px 0;
        width: 100%;
    }

    .header-nav a {
        font-size: 16px;
        /* Ajustamos el tamaño de fuente para enlaces en móviles */
        padding: 10px 15px;
    }
}