.cuenta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(4, 113, 162, 0.2);
}

.cuenta {
    width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuenta h1 {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between; /* Coloca los botones uno al lado del otro */
}

.buttons button {
    flex: 1;
    margin-right: 5px; 
}

button {
    width: 100%;
    padding: 8px;
    background: #0471A2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background: #aaa;
}

.profile-picture {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.signOut {
    background-color: brown;
}

.cancel{
    background-color: brown;
}